/* Import fonts */


:root {
  --color-bg: #181818;
  --color-bg-light:#2A2A2A;
  --color-bg-blue-light: #2c4351;
  --color-bg-blue: #1D272C;
  --color-text-main: #f3efe0;
  --color-primary: #b46447;
  --color-secondary:#415e6c;
  --color-tertiary: #60302c;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Be Vietnam Pro", sans-serif;
  --font-family-header: "Be Vietnam Pro", sans-serif;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  transition: 0.5s cubic-bezier(.06,0,.25,1);
}
[hidden] {
  display: none !important;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/
html{
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

image{
  object-fit: cover;
}
canvas {
  position: absolute;
  top: 0px;
	left: 0px;
  z-index: -1;
}
h1{
	font-family: var(--font-family);
	color:var(--color-text-main);
	font-size:4rem;
	line-height: 60%;
	font-weight: 100;
}
.title {
  width:316px;
  height:288px;
  font-size: 6rem;
  font-weight: 400;
  line-height: 100%;
  margin: auto;
  margin-top:calc(50vh - 144px);
  color: var(--color-text-main);
}

h3{
  margin-top:calc(55vh - 288px);
  font-weight:300;
  color: var(--color-text-main)
}
h3:hover{
  filter: drop-shadow(0px 0px 2px var(--color-primary));
  transform:scale(1.1)
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--color-primary);
}
.arrow-down:hover{
  transform:translate(0px,-5px) scale(1.1);
  border-top: 20px solid var(--color-text-main);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:var(--color-secondary);
}
.main{
  margin-top:5em;
  max-width: 60rem;
}


/* Subheading */
h2 {
  color: var(--color-text-main);
	font-size: 2rem;
}


p{
  color: var(--color-primary);
}

main>p{
  color: var(--color-text-main);
}

iframe{
  border:none;
  background:var(--color-bg-light);
  height:70vh;
  overflow:hidden;
	margin-top: 1em;
}

div.parent{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div.box{
  display:flex;
  flex-direction:column;
  background: var(--color-bg-blue);
  padding:3em;
	margin-bottom:2em;

	max-width: 60rem;
	width: calc(100vw - 8em);
  color: var(--color-text-main);

  border-radius: 0.5em;

	box-shadow: 5px 5px 30px 0px #2374ab20;
}

div.box>header{
  margin-bottom:0em;
  font-weight:800;
  font-style:italic;
	text-decoration: underline;
	line-height: 2;
	cursor: pointer;
  font-size:1.5rem;
}

div.box>header:hover{
	
}

div.pictureframe{
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
  overflow: hidden;
}

#treeimg{
  width:100%;
  height:700px;
  filter:blur(5px);
  object-fit: cover;
}
#treeimg:hover{
  filter:blur(0px);
}

img#logo{
	position:absolute;
	right:5em;
	height:7em;
}

div.box>main{
  font-weight:300;
  display:flex;
  flex-direction:column;
}

div.courses{
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
}
div.courses>div{
	font-weight:bold;
	background:var(--color-primary);
	box-shadow:0.25em 0.25em 1em rgba(150,80,0,0.3),
		-0.25em -0.25em 1em rgba(0,80,150,0.3);
	padding:0.5em;
	border-radius:0.5em;
	margin:0.5em 0.5em 0 0;
}

div.skills{
	margin-top:2em;
	line-height:3em;
}

div.skills>span{
	font-weight:bold;
	background:var(--color-primary);
	box-shadow:0.25em 0.25em 1em rgba(150,80,0,0.3),
	          -0.25em -0.25em 1em rgba(0,80,150,0.3);
	padding:0.5em;
	border-radius:0.5em;
	margin:0.25em;
	
	white-space: nowrap;
}

/*skill progress*/
.progress-bar {
	margin:0.5rem 0.5rem 0.5rem 0rem;
	width: 100%;
	height: 1.5em;
	background-color: var(--color-bg-blue-light);
	border-radius: 0.2em;
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	background-color: var(--color-secondary);
	width: 0%;
	border-radius:0.2em;
	transform: skew(-25deg) translate(-10px,0px);
	transition: width 0.5s cubic-bezier(.06,0,.25,1);
}

/*scroll animations*/
.element {
  /* Other styles for the element */
  transition: 0.5s cubic-bezier(.06,0,.25,1);
}

.hidden {
  animation: none;
  opacity: 0;
  transform: translateY(10%);
}

@media only screen and (max-width: 1000px) {
	iframe{

	}
}
